<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Dodaj</title>
</head>

<body>
<div id="add">
<h1>Dodaj pieska</h1>

<form th:action="@{/addForm}" th:object="${piesek}" method="post">

    <label for="name">Imię:</label>
    <input id="name" type="text" placeholder="Wpisz imię" th:field="*{name}" required>
    <br/>
    <label for="color">Kolor:</label>
    <input id="color" type="text" placeholder="Wpisz kolor" th:field="*{color}" required>
    <br/>

    <button type="submit" id="submit">Dodaj</button>
    <a th:href="@{/view/all}">Cofnij</a>
</form>
    <a id="error" th:if="${error}" th:text="${error}"></a>
</div>

<div th:if="${pieski != null and !#lists.isEmpty(pieski)}">
    <p>Piesek istnieje.</p>
</div>




</body>
</html>