<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<h1>Edycja pieska</h1>
<form th:action="@{/editForm/{id}(id=${piesek.id})}" th:object="${piesek}" method="post">
    <input type="hidden" name="identyfikator" th:value="*{identyfikator}" />

    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" th:field="*{name}"/><br/>

    <label for="color">Kolor:</label>
    <input type="text" id="color" name="color" th:field="*{color}"/><br/>

    <input type="submit" value="Zapisz zmiany">
</form>

</body>
</html>