<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Edit</title>
</head>
<body>

<div id="edit">
    <h1>Edycja pieska</h1>
    <form th:action="@{/editForm/{id}(id=${piesek.id})}" th:object="${piesek}" method="post">
    <input type="hidden" name="identyfikator" th:value="*{identyfikator}" />

    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" th:field="*{name}"/><br/>

    <label for="color">Kolor:</label>
    <input type="text" id="color" name="color" th:field="*{color}"/><br/>

    <button type="submit" id="submit"> Zapisz zmiany </button>
     <a th:href="@{/view/all}">Cofnij</a>
    </form>
</div>
</body>
</html>