<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Moje pieski!</title>
    <script src="https://kit.fontawesome.com/841f4f2efe.js" crossorigin="anonymous"></script>
</head>
<body>



<div id="all" th:if="${pieski}">

    <div class="header">
        <h1>Wszystkie pieski</h1>
        <button id="addButton"><i class="fa-solid fa-plus"></i></button>
    </div>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Kolor</th>
            <th>Identyfikator</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piesek : ${pieski}">
            <td th:text="${piesek.id}"></td>
            <td th:text="${piesek.name}"></td>
            <td th:text="${piesek.color}"></td>
            <td  th:text="${piesek.identyfikator}"></td>
            <td>
                <a th:href="@{/editForm/{id}(id=${piesek.id})}">Edytuj</a>
            <td>
                <a th:href="@{/deleteForm/{id}(id=${piesek.id})}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:if="${pieski == null or #lists.isEmpty(pieski)}">
    <p>Brak piesków do wyświetlenia.</p>
</div>


<div th:if="${error}" th:text="${error}"></div>



<script>
    document.getElementById("addButton").addEventListener("click", function() {
        window.location.href = "/addForm";
    });
</script>
</body>
</html>
